{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<div class="aboutMe">
    <h1>Hello, I am currently a Rio Hondo College Student.</h1>
    <h3>My major is in Computer Science for Transfer.</h3>
    <h3>The language I am most proficient in is python.</h3>
    <h3>If you would like to contact me, email me below.</h3> 
</div>
<div class="emailSection">
    <form action="#" method="POST">
        <label id="contactTitle">Contact Form</label><br>
        <label id="label" for="subject">Subject:</label><br>
        <input id="textBox" type="text" name="subject" value={{request.form.subject}} ><br>

        <label id="label" for="email">Email:</label><br>
        <input id="emailBox" type="email" name="email" value={{request.form.email}} ><br>

        <textarea id="textBox" name="message" rows="4"cols="50" value={{request.form.message}} ></textarea><br>

        <button type="submit" id="submitButton" >Submit</button>
    </form>
</div>
{% endblock %}
